.close-btn{
    background-color: #451290;
    border: solid 1px greenyellow;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.content-parent {
    color: #ffea18;
}

.content-key {
    color: #6af2d7;
}

.content-value {
    color: #f8a384;
}

.css-content{
    display: block;
    position: relative;
    background-color: #451290;
    text-align: start;
    padding: 20px;
    width: 80%;
    height: 60%;
    border: solid 1px yellow;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow-y: auto;
}

.html-content{
    display: none;
    position: relative;
    background-color: #451290;
    text-align: start;
    padding: 20px;
    width: 80%;
    height: 60%;
    border: solid 1px yellow;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow-y: auto;
}

.switch {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 10px;
    border: solid 1px yellow;
    background-color: #451290;
    border-radius: 20px;
    cursor: pointer;
}