.close-btn{
    background-color: #451290;
    border: solid 1px greenyellow;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.content-parent {
    color: #ffea18;
}

.content-key {
    color: #6af2d7;
}

.content-value {
    color: #f8a384;
}