header{
    text-align: center;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #380f75;
    color: white;
}

main{
    display: flex;
    height: 70%;
    padding: 30px;
    gap: 40px;
}

form{
    width: fit-content;
    padding-top: 50px;
}

.grid-container{
    width: 80%;
    position: relative;
}
.parent{
    border: dotted 2px yellow;
    height: 100%;
    display: grid;
    z-index: 998;
    box-shadow: 1px 1px 25px 0px black;
}
.child {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.input-box{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
input{
    width: 50px;
    height: 30px;
    background-color: #2a0b57;
    color: white;
    border: solid 0.5px white
}
.modal{
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.submit-button, .reset-button{
    color: white;
    background-color: #451290;
    border: solid 1px #3b9400;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    font-size: large;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.content {
    width: 50%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4b149e;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 1px 1px 40px black;
}