html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
}

/* ================================================ */

main{
    flex: 1;
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    margin-inline: auto;
    padding-top: 5px;
}

/* ================================================ */

.gridBoard-container{
    grid-column-start: 1;
    grid-column-end: 4;
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.gridBoard{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    border: 2px black solid;
    z-index: 10;
}

.boardItems{
    border: 1px dotted black;
}

.boardItems:hover{
    cursor: pointer;
}

.gridShowcase {
    position: absolute;
    top: 32px;
    left: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    z-index: 5;
    pointer-events: none;
}

/* ================================================ */
.form-container{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 10px;
}

.form-container > form {
    border: 5px solid black;
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-inline: 20px;
    padding-block: 30px;
}

#referencePanel {
    border: 5px solid black;
    border-radius: 15px;
    height: fit-content;
    padding-inline: 20px;
    padding-block: 10px;
    overflow: scroll;
    scrollbar-width: none;
    display: none;
    max-height: 100px;
}

.element{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}

.element > p{
    font-weight: bold;
    margin: 0;
}

.element > button{
    border-radius: 15px;
    padding-inline: 15px;
    background: transparent;
    font-weight: bold;
}

.element > button:hover{
    background: rgba(255, 0, 0, 0.692);
    color: white;
    cursor: pointer;
}

.inputs{
    display: flex;
    flex-direction: column;
}
.inputs > input{
    border-radius: 10px;
    padding: 5px;
    margin-top: 3px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.buttons > button{
    width: 40%;
    background: whitesmoke;
    color: black;
    border-radius: 20px;
}

.buttons > button:hover{
    background: white;
    color: black;
    cursor: pointer;
}


/* ================================================ */

.smokeScreen{
    position: absolute;
    background: rgba(128, 128, 128, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 20;
}

.panel{
    width: 30%;
    height: 60%;
    background: white;
    border: 5px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 10px;
    padding-inline: 20px;
}

.innerPanel{
    width: 80%;
    height: 50%;
    border: 5px solid black;
    border-radius: 20px;
    background: #8781a5;
    color: white;
    font-weight: 600;display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
    margin-block: 0;
    margin-inline: auto;
    scrollbar-width: none;
}

.innerPanel > h1 {
    text-align: center;
    margin: 20px 0 20px 0;
}

#code{
    margin: 0;
    display: flex;
    justify-content: center;
}

.actions{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actions > button{
    width: 30%;
    padding-block: 10px;
    background: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
}

.actions > button:first-child:hover{
    cursor: pointer;
    background: #F87171;
    color: white;
}

.actions > button:last-child:hover{
    cursor: pointer;
    background: #34D399;
    color: white;
}

#codeSwitch{
    width: 40%;
}
#codeSwitch:hover{
    background: #FB923C;
}
/* ================================================ */

footer{
    text-align: center;
}
